*.pyc
gr-rfid/apps/RN
gr-rfid/apps/label
gr-rfid/apps/abs_signal
gr-rfid/apps/Isignal
gr-rfid/apps/Qsignal
gr-rfid/apps/debug_data/
gr-rfid/apps/log
gr-rfid/apps/result
gr-rfid/build/
gr-rfid/misc/data
